[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
uvicorn = "*"

[packages]
youtube-dl = "*"
ffmpeg-python = "*"
fastapi = "*"
rfc6266-parser = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
